In [1]:
import pandas as pd

In [2]:
iris = pd.read_csv('iris.csv')

In [3]:
iris.mean()

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [4]:
iris.median()

Sepal.Length    5.80
Sepal.Width     3.00
Petal.Length    4.35
Petal.Width     1.30
dtype: float64

In [5]:
iris.min()

Sepal.Length       4.3
Sepal.Width          2
Petal.Length         1
Petal.Width        0.1
Species         setosa
dtype: object

In [6]:
iris.max()

Sepal.Length          7.9
Sepal.Width           4.4
Petal.Length          6.9
Petal.Width           2.5
Species         virginica
dtype: object

In [7]:
def half(x):
    return (x*0.5)

In [8]:
iris[['Sepal.Length','Petal.Length']].apply(half)

     Sepal.Length  Petal.Length
0            2.55          0.70
1            2.45          0.70
2            2.35          0.65
3            2.30          0.75
4            2.50          0.70
..            ...           ...
145          3.35          2.60
146          3.15          2.50
147          3.25          2.60
148          3.10          2.70
149          2.95          2.55

[150 rows x 2 columns]

In [9]:
iris['Species'].value_counts()

versicolor    50
virginica     50
setosa        50
Name: Species, dtype: int64

In [10]:
iris.sort_values(by="Sepal.Length")

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
13            4.3          3.0           1.1          0.1     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
41            4.5          2.3           1.3          0.3     setosa
..            ...          ...           ...          ...        ...
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
131           7.9          3.8           6.4          2.0  virginica

[150 rows x 5 columns]