In [1]:
# Libraries to help with reading and manipulating data
import pandas as pd
import numpy as np

# Libraries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Library to help with statistical analysis
import scipy.stats as stats

# Function for handling normal distribution and statistical calculation
from scipy.stats import norm

In [2]:
import numpy as np
import scipy.stats as stats

# energy expenditure (in mJ) and stature (0=obese, 1=lean)
energy = np.array([[9.21, 0],[7.53, 1],[7.48, 1],[8.08, 1],[8.09, 1],[10.15, 1],[8.40, 1],[0.88, 1],[1.13, 1],[2.90, 1],[11.51, 0],[2.79, 0],[7.05, 1],[1.85, 0],[19.97, 0],[7.48, 1],[8.79, 0],[9.69, 0],[2.68, 0],[3.58, 1],[9.19, 0],[4.11, 1]])

# Separating the data into 2 groups
group1 = energy[energy[:, 1] == 0] # elements of the array where obese == True
group1 = group1[:,0] # energy expenditure of obese
group2 = energy[energy[:, 1] == 1] # elements of the array where lean == True
group2 = group2[:,0] # energy expenditure of lean
test_stat,pvalue=stats.ttest_ind(group1, group2, equal_var = True) #
pvalue

0.19112194470967464

In [3]:
import scipy.stats as stats
import numpy as np

# scores of two groups (0 and 1) of students
scores = np.array([[49, 0],[53, 1],[56, 1],[43, 1],[45, 1],[53, 1],[45, 1],[56, 1],[51, 0],[43, 0],[47, 1],[44, 0],[51, 0],[53, 1],[50, 0],[54, 0],[51, 0],[51, 1],[46, 0],[47, 1]])

# Separating the data into 2 groups

group1 = scores[scores[:, 1] == 0] # elements of the array where group == 0
group1 = group1[:, 0] # scores of group 0 students
group2 = scores[scores[:, 1] == 1] # elements of the array where group == 1
group2 = group2[:, 0] # scores of group 1 students

#applying t-test to check if the scores of group 0 and group 1 students are indeed different
test_stat,pvalue=stats.ttest_ind(group1, group2, equal_var = False)
round(pvalue,2)

0.55

### Let's revisit the example
A certain food aggregator ZYX is facing stiff competition from its main rival SWG during Corona period. To retain business, ZYX is advertising that, within a radius of 5 km from the restaurant where the order is placed, it can still deliver in 40 minutes or less on the average (and changed condition has not made any impact on them). 

The delivery times in minutes of 25 randomly selected deliveries are given in a CSV file.

Assuming the delivery distribution is approximately normal, is there enough evidence that ZYXâ€™s claim is false?

In [4]:
df=pd.read_csv("FastFood1.csv")
df.head()

   Delivery  Time
0         1  39.4
1         2  39.5
2         3  39.7
3         4  40.7
4         5  40.4

In [5]:
df.describe()

        Delivery       Time
count  25.000000  25.000000
mean   13.000000  41.788000
std     7.359801   1.741484
min     1.000000  39.400000
25%     7.000000  40.600000
50%    13.000000  41.300000
75%    19.000000  43.000000
max    25.000000  45.700000

Null and alternative hypothesis will be 
H0
mu=40

Ha
mu>40

In [6]:
n=25
mu=40

test_stat,pvalue=stats.ttest_1samp(df['Time'],popmean=40,alternative="greater")
pvalue

1.4822680927543513e-05

In [7]:
def checkNullHypothesis(pvalue):
    if(pvalue>0.05):
        print("We can't reject the null hypothesis")
    else:
        print("Null Hypothesis can be rejected")

In [8]:
checkNullHypothesis(pvalue)

Null Hypothesis can be rejected


To compare customer satisfaction levels of two competing media channels, 150 customers of Channel 1 and 300 customers of Channel 2 were randomly selected and were asked to rate their channels on a scale of 1-5, with 1 being least satisfied and 5 most satisfied (The survey results are summarized in a CSV file). Suppose we know that, $\sigma_1$ = 0.48 and $\sigma_2$ = 0.49.

Test at 0.05 level of significance whether the data provide sufficient evidence to conclude that channel 1 has a higher mean satisfaction rating than channel 2.

It's a two value problem

In [9]:
n1=150
sigma1=0.48

n2=300
sigma2=0.49

df=pd.read_csv("rating.csv")

In [10]:
def twoSampleZtest(x1,x2,sigma1,sigma2,n1,n2):
    se=np.sqrt(((sigma1**2)/n1)+((sigma2**2)/n2))
    test_stat=(x1.mean()-x2.mean())/se
    pvalue=1-norm.cdf(test_stat)
    
    return pvalue

In [11]:
pvalue=twoSampleZtest(df["channel1_rating"],df["channel2_rating"],sigma1,sigma2,n1,n2)
pvalue

5.87973714161194e-09

In [12]:
checkNullHypothesis(pvalue)

Null Hypothesis can be rejected


### Let's revisit the example


In the lockdown period, because of working from home and increased screen time, many opted for listening to FM Radio for entertainment rather than watching Cable TV. An advertisement agency randomly collected daily usage time data (in minutes) from both type of users and stored it in a CSV file.

Assuming daily Radio and TV usage time are normally distributed, do we have enough evidence to conclude that there is any difference between daily TV and Radio usage time at 0.05 significance level?

H0 

mu1=mu2

Ha 

mu1=/mu2

In [13]:
df_tv=pd.read_csv("TVRadio.csv")
df_tv.head()

   Cable_TV  FM_Radio
0        22        25
1         8        10
2        25        29
3        22        19
4        12        13

In [14]:
df_tv.describe().T

          count  mean       std   min   25%   50%   75%   max
Cable_TV   15.0  18.8  5.414267   8.0  14.0  21.0  22.5  26.0
FM_Radio   15.0  20.0  5.424811  10.0  16.0  21.0  23.0  29.0

In [15]:
test_stat,pvalue=stats.ttest_ind(df_tv['Cable_TV'],df_tv['FM_Radio'],equal_var=True,alternative="two-sided")
pvalue

0.5491435225558506

In [16]:
checkNullHypothesis(pvalue)

We can't reject the null hypothesis



### Let's revisit the example

SAT verbal scores of two groups of students are given in a CSV file. The first group, College, contains scores of students whose parents have at least a bachelor's degree and the second group, High School, contains scores of students whose parents do not have any college degree.

The Education Department is interested to know whether the sample data support the theory that students show a higher population mean verbal score on SAT if their parents attain a higher level of education.

Assuming SAT verbal scores for two populations are normally distributed, do we have enough statistical evidence for this at 5% significance level?

In [17]:
# import the data
satscore = pd.read_csv('SATVerbal1.csv')
satscore.head()

   College  High School
0      485        489.0
1      534        507.0
2      650        447.0
3      554        515.0
4      550        470.0

In [18]:
satscore.describe()

          College  High School
count   16.000000    12.000000
mean   525.000000   480.000000
std     59.420535    31.095162
min    410.000000   424.000000
25%    486.500000   457.500000
50%    529.500000   486.000000
75%    558.500000   508.000000
max    650.000000   515.000000

In [19]:
satscore.isnull().sum()

College        0
High School    4
dtype: int64

In [20]:
satscore['High School'].dropna(inplace=True)
satscore['High School'].info()
satscore.isnull()
satscore['High School'].tail()
satscore['High School']=satscore['High School'].dropna()
satscore.dropna(inplace=True)

<class 'pandas.core.series.Series'>
RangeIndex: 16 entries, 0 to 15
Series name: High School
Non-Null Count  Dtype
--------------  -----
12 non-null     float64
dtypes: float64(1)
memory usage: 260.0 bytes

In [21]:
satscore.isnull().sum()

College        0
High School    0
dtype: int64

In [22]:
satscore.describe().T

             count   mean        std    min    25%    50%    75%    max
College       12.0  532.5  60.537742  410.0  494.5  533.5  558.5  650.0
High School   12.0  480.0  31.095162  424.0  457.5  486.0  508.0  515.0

In [23]:
test_stat,pvalue=stats.ttest_ind(satscore['College'],satscore['High School'],equal_var=False,alternative="greater")
pvalue

0.008210368913752437

In [24]:
checkNullHypothesis(pvalue)

Null Hypothesis can be rejected



A Company sells computers and computer parts. The company claims that at least 90% of all orders are mailed within 72 hours after they are received. The Quality Control department in the company often takes random samples to check if this claim is valid. A recently taken sample of 150 orders showed that 129 of them were mailed within 72 hours.

Which of the following code snippet is the most appropriate one to perform a one-sample proportions z-test for the given data and the hypotheses formulated below.

H0>=0.9
Ha<0.9

In [25]:
from statsmodels.stats.proportion import proportions_ztest 
test_stat,pvalue=proportions_ztest(count = 129, nobs = 150, value = 0.9, alternative = 'smaller')
pvalue

0.07899523801234237

In [26]:
checkNullHypothesis(pvalue)

We can't reject the null hypothesis



A survey is done on Indian college students to determine whether female students smoke less than male students. From the survey, it was found that 40 out of a sample of 150 males smoke and 20 out of a sample of 100 females smoke. 

Which of the following code snippet is the most appropriate one to perform a two-sample proportions z-test to determine whether the proportion of females who smoke is less than that of males who smoke?


H0 p1<p2


Ha p1/=p2

In [27]:
count1=20
nobs1=100

count2=40
nobs2=150

count_arr=np.array([count1,count2])
nob_arr=np.array([nobs1,nobs2])

test_stat,pvalue=proportions_ztest(count_arr,nob_arr,value=0,alternative="smaller")
pvalue

0.11330701279287875

In [28]:
checkNullHypothesis(pvalue)

We can't reject the null hypothesis

In [29]:
df_beverage=pd.read_csv('Beverage.csv')
df_beverage.head()

       Age  Tea/Coffee  Soft Drink  Others
0  21 - 34          25          90      20
1  35 - 55          40          35      25
2     > 55          24          15      30

In [30]:
chi, p_value, dof, expected=stats.chi2_contingency(df_beverage.drop('Age',axis=1))
print(p_value)

5.410957050304089e-10

In [31]:
import numpy as np
import scipy.stats as stats

weights = np.array([[132.39, 125],[160.1, 153],[130.95, 132],[139.42, 137.66],[154.89, 142.71],[144.67, 145],[160.33, 157.18],[160.33, 153.4],[170, 165],[166, 159],[155, 150]])

# Separating data into 2 groups
pre = weights[:, 0] # Extracting the pre-weights from the array
post = weights[:, 1] # Extracting the post-weights from the array

test_stat,pvalue=stats.ttest_rel(post, pre, alternative = 'less') # Applying paired t-test to check if the mean post-weight is less than the mean pre-weight.
pvalue

0.0008600581283735951

In [32]:
checkNullHypothesis(pvalue)

Null Hypothesis can be rejected