In [1]:
# Libraries to help with reading and manipulating data
import pandas as pd
import numpy as np

# Libraries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# Library to help with statistical analysis
import scipy.stats as stats

# Function for handling normal distribution and statistical calculation
from scipy.stats import norm

In [2]:
df=pd.read_csv('students.csv')
df.head()

,gender,race,parental_level_of_education,taken_test_preparation_course,maths_score,reading_score,writing_score,overall_score
0,male,Race C,high school,no,73,74,74,73.67
1,female,Race A,high school,no,71,62,68,67.00
2,male,Race B,bachelor's degree,yes,87,92,89,89.33
3,female,Race D,high school,no,63,62,58,61.00
4,female,Race A,high school,no,60,66,66,64.00

In [3]:
df.describe()

       maths_score  reading_score  writing_score  overall_score
count   100.000000     100.000000     100.000000     100.000000
mean     68.450000      70.800000      69.650000      69.633500
std      14.240627      13.586238      13.567173      13.099381
min      36.000000      35.000000      33.000000      38.000000
25%      57.750000      61.750000      60.750000      61.000000
50%      69.000000      71.000000      69.500000      69.330000
75%      78.250000      81.000000      80.000000      78.752500
max     100.000000     100.000000     100.000000      99.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   gender                         100 non-null    object
 1   race                           100 non-null    object
 2   parental_level_of_education    100 non-null    object
 3   taken_test_preparation_course  100 non-null    object
 4   maths_score                    100 non-null    int64
 5   reading_score                  100 non-null    int64
 6   writing_score                  100 non-null    int64
 7   overall_score                  100 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 6.4+ KB

In [5]:
df.head(5)

,gender,race,parental_level_of_education,taken_test_preparation_course,maths_score,reading_score,writing_score,overall_score
0,male,Race C,high school,no,73,74,74,73.67
1,female,Race A,high school,no,71,62,68,67.00
2,male,Race B,bachelor's degree,yes,87,92,89,89.33
3,female,Race D,high school,no,63,62,58,61.00
4,female,Race A,high school,no,60,66,66,64.00

In [6]:
stud_five_score=60;
mu=df['maths_score'].mean()
sigma=df['maths_score'].std()
df.shape

(100, 8)

In [7]:
z_score_5=(60-mu)/sigma
z_score_5

-0.5933727537765388

#### Suppose that the reading scores follow a normal distribution with a mean of 71 and standard deviation of 13 and the writing scores follow a normal distribution with a mean of 69 and standard deviation of 10. In which subject, the 5th student has performed the best?

In [8]:
mu_red=71
std_read=13

mu_writing=69
std_writing=10

read_score=df['reading_score'][4]
read_score

66

In [9]:
zreading=(read_score-mu_red)/std_read
zreading

-0.38461538461538464

In [10]:
write_score=df['writing_score'][4]
print(write_score)

zwrite=(write_score-mu_writing)/std_writing
zwrite

66

-0.3

In [11]:
arr=np.array([z_score_5,zreading,zwrite])

In [12]:
arr.max()

-0.3

#### Suppose the reading scores follow a normal distribution with a mean of 71 and a standard deviation of 13. Find the range on which the probability that a student will score more than 90 in reading lies.

In [13]:
1-norm.cdf(90,mu,sigma)

0.06510477348967969

In [14]:
mu_total=df['overall_score'].mean()
sigma_total=df['overall_score'].std()

print(f"mu_total {mu_total} sigma_total {sigma_total}")

mu_total 69.6335 sigma_total 13.099380845496235

##### Construct a 95% confidence interval for the mean overall scores from the sample data.

In [15]:
stats.t.interval(0.95,loc=mu_total,scale=sigma_total/np.sqrt(100),df=99)

(67.03429864720982, 72.23270135279017)

In [26]:
df['overall_score'].count()

100

#### An educational consultant claims that on average students receive an overall score of more than 70. Suppose you tested the educational consultant's claim using the sample data. What will be the conclusion based on the p-value?

Null    mu=70


alernate   mu>70

In [28]:
test_stat,pvalue=stats.ttest_1samp(df['overall_score'],70,alternative='greater')
pvalue

0.6098866036964306

In [29]:
def checkNullHypothesis(pvalue):
    if(pvalue>0.05):
        print("We can't reject the null hypothesis")
    else:
        print("Null Hypothesis can be rejected")

In [30]:
checkNullHypothesis(pvalue)

We can't reject the null hypothesis

#### Suppose you want to test whether the maths score of students who have not taken the test preparation course is less than the maths score of students who have taken any test preparation course. What will be the conclusion based on the p-value

In [40]:
df_test_taken=df.loc[df['taken_test_preparation_course']=='yes']
df_test_taken.head()

,gender,race,parental_level_of_education,taken_test_preparation_course,maths_score,reading_score,writing_score,overall_score
2,male,Race B,bachelor's degree,yes,87,92,89,89.33
9,male,Race D,associate's degree,yes,70,82,84,78.67
13,male,Race A,bachelor's degree,yes,77,74,80,77.00
14,male,Race E,bachelor's degree,yes,77,76,83,78.67
20,female,Race C,associate's degree,yes,75,81,78,78.00

In [41]:
df_test_not_taken=df.loc[df['taken_test_preparation_course']=='no']
df_test_not_taken.head()

,gender,race,parental_level_of_education,taken_test_preparation_course,maths_score,reading_score,writing_score,overall_score
0,male,Race C,high school,no,73,74,74,73.67
1,female,Race A,high school,no,71,62,68,67.00
3,female,Race D,high school,no,63,62,58,61.00
4,female,Race A,high school,no,60,66,66,64.00
5,female,Race A,high school,no,75,71,75,73.67

Null hypothesis 

mu_test_taken=mu_test_not_taken
alternate

mu_test_taken>mu_test_not_taken

In [42]:
#import the required functions
from scipy.stats import ttest_ind

# find the p-value
test_stat, p_value = ttest_ind(df_test_taken['maths_score'], df_test_not_taken['maths_score'], equal_var = True, alternative = 'greater')
print('The p-value is ' + str(p_value))

The p-value is 6.010315522311589e-07

In [43]:
checkNullHypothesis(p_value)

Null Hypothesis can be rejected

#### Suppose you want to test whether the student takes a test course preparation course or not depends on their parents' educational level. To test this, which of the below tests will be the most appropriate?

In [46]:
contigency_table=pd.crosstab(df['parental_level_of_education'],df['taken_test_preparation_course'])

### Let's write the null and alternative hypothesis


We will test the null hypothesis

>$H_0:$ test taken is independent of parental education .

against the alternate hypothesis

>$H_a:$ test taken is depends  on parental education.

In [47]:
# import the required function
from scipy.stats import chi2_contingency

# find the p-value
chi, p_value, dof, expected = chi2_contingency(contigency_table)
print('The p-value is', p_value)

The p-value is 0.004949288534412502

In [48]:
checkNullHypothesis(p_value)

Null Hypothesis can be rejected

#### Suppose you want to test that whether there is any difference in means of student performance in reading, writing, and maths. What will be the conclusion based on the p-value?

### Let's write the null and alternative hypothesis

Let $\mu_1, \mu_2, \mu_3$ be the means of student performance in reading, writing, and maths respectively.

We will test the null hypothesis

>$H_0: \mu_1 = \mu_2 = \mu_3$

against the alternative hypothesis

>$H_a: $ At least one   mean is different

In [50]:
#import the required function
from scipy.stats import f_oneway

# perform one-way anova test
test_stat, p_value = f_oneway(df['reading_score'],df['writing_score'],df['maths_score'])
print('The p-value is ' + str(p_value))

The p-value is 0.4852226859144665

In [51]:
checkNullHypothesis(p_value)

We can't reject the null hypothesis